{% extends 'base.html' %}
{% block title %} ChatGPT {% endblock %}

{% block content %}

<!-- Display all Messages -->
<div class="message-container">
    <div class="chatbot-title">
        <h1> ChatGPT 3.5 Turbo </h1>
    </div>
    {% for message in messages %}
    <div class="message">

        <div class="message-top">
            <div class="user-msg"><b>You:</b> {{ message.question }}</div>
            <div class="delete-msg">
                <form method="POST">
                    {% csrf_token %}
                    <button type="submit" id="delete-msg" name="delete-message" value="{{ message.id }}"><b>X</b></button>
                </form>
            </div>
        </div>

        <div class="chatgpt-msg">
            <h5><b>ChatGPT:</b> </h5>
            {{ message.answer|safe }}
        </div>
    </div>
    {% endfor %}
</div>

<!-- Text input -->
<div class="input-container">
    <form method="POST">
        {% csrf_token %}
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Message ChatGPT..." name="chat-input">
            <div class="input-group-append">
                <button class="btn btn-primary btn-lg" type="submit" name="new-message">Send</button>
            </div>
        </div>
    </form>
</div>


{% endblock %}